@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-primary: #353535;
    --text-secondary: #666;
    --text-tertiary: #999;
    --primary: darkred;
    --secondary: red;
    --background-primary: #cecece;
    --background-secondary: #ddd;
}

body {
    font-family: 'Inter', 'Arial', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-primary);
    /* background-color: var(--background-primary); */
    background-image: url(images/background/background9.webp);
    background-size: cover;       
    background-attachment: fixed; 
    background-position: center;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--text-primary);
}

p {
    margin-bottom: 1.5rem;
}

p.unspaced {
    margin-bottom: 0;
}

.container {
    background-color: rgba(206, 206, 206, 0.95);
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
    background-color: var(--background-secondary);
    align-items: space-between;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    /* position: fixed; */
    /* position: relative; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.nav-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--text-secondary);
}

.navbar {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

.navs {
    list-style-type: none;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
}

.navs a {
    text-decoration: none;
    color: var(--text-secondary);
    transition: all 0.25s ease;
    cursor: pointer;
}

.navs a:hover {
    color: var(--text-primary);
    font-size: 18px;
}

.navs a:focus {
    outline: 2px solid var(--primary);
    outline-offset: 4px;
}

.navs a.active {
    color: var(--primary);
}

.navs a.active::after {
    content: "";
    display: block;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

/* CHECK LATER
.navs a.active:hover::after {
    
}
*/

.logo {
    width: 120px;
    padding: 10px;
} 

.main {
    padding-left: 11.5rem;
    padding-right: 11.5rem;
    height: calc(100vh - 130px);
    /* flex-direction: column; */
}

#home {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-top: 10rem;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.intro {
    color: var(--primary);
    margin-bottom: 12px;
    font-size: 2.5rem;
}

#gradient-intro {
    background: linear-gradient(to right, var(--primary), rgb(197, 0, 0), var(--secondary), rgb(197, 0, 0), var(--primary));
    background-size: 200%;
    opacity: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInDown 1.75s ease forwards, animate-gradient 2.4s linear infinite;
}

#gradient-intro:hover {
    animation-play-state: paused;
}

@keyframes fadeInDown {
    to { opacity: 1; }
}

@keyframes animate-gradient {
    to {
        background-position: -200%;
    }
}

#name-highlight {
    cursor: default;
}

.tagline {
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-family: monospace;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--text-primary);
    width: 100%;
    animation: typing 4.5s steps(35) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

#wave {
    animation: wave-animation 2.5s infinite;
    display: inline-block;
    transform-origin: 70% 70%;
    font-size: 3rem;
}

@keyframes wave-animation {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate(0.0deg) }
    100% { transform: rotate(0.0deg) }
}

#about-photo {
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#about {
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: calc(2rem + 80px);
}

#about h1 {
    font-size: 1.8rem;
    color: var(--primary);
    margin-bottom: 24px;
    text-align: center;
}

.about-content {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem;
    width: 100%;
    max-width: 800px;
    text-align: center;
    border-radius: 16px;
    line-height: 2rem;
}

.page {
    display: none;
}

.page.active {
    /* display: block; */
    display: flex;
}

.footer {
    background-color: var(--background-secondary);
    border-top: 1px solid var(--background-primary);
    color: var(--text-secondary);
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 100%;
}